/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1:focus {
    outline: none;
}

/* Boldsteps CSS Shared Universal Styles v1.0 */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /* Define breakpoint variables */
    --phone-max: 480px;
    --tablet-portrait-min: 481px;
    --tablet-portrait-max: 768px;
    --tablet-landscape-min: 769px;
    --tablet-landscape-max: 1024px;
    --small-laptop-min: 1025px;
    --small-laptop-max: 1366px;
    --desktop-min: 1367px;

    /* Define colour variables */
    --primary-color: rgb(237,32,46);
    --primary-color-hover: rgb(205, 18, 30);
    --dark-grey: rgb(80,80,80);
    --light-grey: rgb(175,175,175);

    /* Transition times */
    --transition-time: .2s;

    /* Define padding variables */
    --padding-phone: 20px;
    --padding-phone-forms: 15px;

    /* Define border radius variables */
    --border-radius-phone: 5px;
}

/* Base styles (for mobile devices) */

/* Universal layout styles */

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400 !important;
    font-style: normal;
    font-size: 16px;
    color: var(--dark-grey);
}
.light-text{
    font-family: "Poppins", sans-serif;
    font-weight: 300 !important;
    font-style: normal;
}
.bold-text{
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    font-style: normal;
}
.layout-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding: 0px var(--padding-phone);
}
.header {
    height: 80px;
    display: flex;
    align-items: center;
}
.main-content {
    flex: 1;
    padding: var(--padding-phone) 0px;
    flex-direction: column;
    justify-content: center;
}
.footer {
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align:right;
}
.content-wrapper-authentication{
    margin: auto;
    width: 100%;
}
/* Universal html styles */

a, a:visited{
    color: var(--primary-color);
    transition: color var(--transition-time);
}
a:hover{
    color: var(--primary-color-hover);
}
h1{
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    font-style: normal;
    color: var(--light-grey);
    margin-bottom: var(--padding-phone);
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    display: block;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    padding: var(--padding-phone-forms);
    border: 1px solid var(--light-grey);
    border-radius: var(--border-radius-phone);
    transition: border var(--transition-time);
}
input::placeholder {
    color: var(--light-grey);
}
input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}
button {
    display: block;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    padding: var(--padding-phone-forms);
    border-radius: var(--border-radius-phone);
    background: var(--primary-color);
    color: white;
    font-weight:bold;
    cursor: pointer; cursor: hand;
    border: 0px;
    transition: background var(--transition-time);
}
button:hover{
    background: var(--primary-color-hover);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .content-wrapper-authentication{
        max-width: 350px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
 }