@page "/login"
@layout Boldsteps.Shared.Layout.AuthenticationLayout

<PageTitle>Login</PageTitle>

<div class="content-wrapper-authentication">
    <h1>Login to your Boldsteps account.</h1>
    <form>
        <input type="text" name="username" placeholder="username" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit">Login</button>
        <a href="#" class="forgot-password light-text">Forgot Password?</a>
    </form>
    <hr>
    <h1>Don't have an account?</h1>
    <a href="#" class="forgot-password light-text">Sign up today</a>
</div>